body {
  margin: 0;
  padding: 2em;
  font-family: sans-serif;
  max-height: 100vh;
}
.game-container {
  display: flex;
}

.card-container {
  flex: 8;
  display: grid;
  justify-content: center;
  grid-gap: 1rem;
}

.three {
  grid-template-columns: repeat(3, minmax(50px, 150px));
  grid-template-rows: repeat(3, minmax(50px, 1fr));
}
.four {
  grid-template-columns: repeat(4, minmax(50px, 125px));
  grid-template-rows: repeat(4, minmax(50px, 1fr));
}
.five {
  grid-template-columns: repeat(5, minmax(50px, 125px));
  grid-template-rows: repeat(5, minmax(50px, 1fr));
}
.six {
  grid-template-columns: repeat(6, minmax(50px, 100px));
  grid-template-rows: repeat(6, minmax(50px, 1fr));
}
.seven {
  grid-template-columns: repeat(7, minmax(50px, 85px));
  grid-template-rows: repeat(7, minmax(50px, 1fr));
}

.image-card {
  border: 1px black solid;
}

.image-card > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.scoreboard {
  padding: 2em;
}
.score-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
